<main>
	<app-finder 
		(onAddItem)="onAddItem($event)"></app-finder>
	<div class="container"
		[ngStyle]="{'padding-right':isCourseListEmpty() ? '0px' : '15px',
		 			'padding-left':isCourseListEmpty() ? '0px' : '15px'}">
		<ul class="list-inline mt-3 mb-3 d-flex flex-column">
			<li class="list-inline-item" 
				*ngFor="let item of (courseList | orderBy)">
				<app-item-list 
					[item]="itemById(item.id)"
					(onDeleteItem)="onDeleteItem($event)"
				></app-item-list>
			</li>
			<li class="list-inline-item empty-list"
				*ngIf="isCourseListEmpty()"
			>{{ message }}</li>
		</ul>
	</div>
</main>
