.container,
.btn-primary {
	background: #20B2AA;
}

.container {
	position: relative;
}

.btn-primary {
	position: relative;
	background: #fcf8e3;
	border-color: #fcf8e3;
	color: darkgrey;
}

.btn-primary::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: black;
	opacity: 0;
	border-radius: 0.25rem;
	transition: 0.2s;
}

.btn-primary:hover {
	cursor: pointer;
	position: relative;
}

.btn-primary:hover:before {
	opacity: 0.2;
	transition: 0.2s;
}

.input-group .btn-primary,
.input-group .btn-primary::before {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.form-control {
	border: none;
}

.form-active,
.form-disactive {
	position: absolute;
	top: 0;
	left: 0;
}

.form-active {
	display: block;
}

.form-disactive {
	display: none;
}

.form-add-course {
	background: #20B2AA;
	width: 100%;
	z-index: 100;
}

.form-group {
	width: 80%;
	margin: 0 auto;
}
